<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>t4</title>
</head>

<body>
    <div class='zh'>
        <p>您好！</p>
        <p>MindSpore {{sig_name}} 邀请您参加 {{start_time}} 召开的腾讯会议(自动录制)</p>
        <p>会议主题：{{topic}}</p>
        <pre style="font-family: 'Microsoft YaHei',serif">会议内容：{{summary}}</pre>
        <p>会议链接：<a href="{{join_url}}">{{join_url}}</a></p>
        <p>更多资讯尽在：<a href="https://mindspore.cn">https://mindspore.cn</a></p>
        <br />
        <br />
    </div>
    <div class='en'>
        <p>Hello!</p>
        <p>MindSpore {{sig_name}} invites you to attend the Tencent conference(auto recording) will be held at
            {{start_time}},</p>
        <p>The subject of the conference is {{topic}},</p>
        <pre style="font-family: 'Microsoft YaHei UI',serif">Summary: {{summary}}</pre>
        <p>You can join the meeting at <a href="{{join_url}}">{{join_url}}</a>.</p>
        <p><a href="https://mindspore.cn/en">More information</a></p>
    </div>
</body>

</html>
